@charset "UTF-8";

/* RECEITAS - WIRED */

/* --- SECTION HERO --- */
/* IMG */
.hero__about{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 80vh;
    padding: 60px 20px;

    background-image: url('/src/assets/images/home/coffee-shop-sp.jpg');
}