@charset "UTF-8";
/* ESTILO PADRÃO DO HOME */

/* --- SECTION HERO --- */
/* IMAGENS EM CAMADAS NA DIV MIDIA */
.hero__midia{
    /* Alinha os elementos (imagens) dentro do container */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative; /* Ponto de referência para os elementos internos */

    width: 100%;
    min-width: 300px; /* Espaço exite mesmo antes das imagens carregarem - evita que outro elemento 'pule' pra dentro enquanto não carrega*/
    margin: 40px 0;
}

/* IMAGEM DO GRÃO */
.hero__bg{
    position: absolute; /* Tira de fluxo pra que a xícar 'passe por cima' */

    /* Centralizando os grãos no centro */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1; /* Na camada de baixo */

    width: 100%;
    max-width: 500px;

    transition: 0.5s ease-in-out;
}

/* IMAGEM DA XÍCARA */
.hero__cup{
    position: relative;
    z-index: 2; /* Xícara sobre o grão */

    width: 100%;
    height: auto;

    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));

}

/* --- SECTION ABOUT --- */

/* ordem mobile */
.about__text{ order: 1; }
.about__midia{ order: 2; }

/* Para que a imagem ocupe todo o espaço da div */
.about__coffee-shop{
    /* Comportamento de bloco ocupando todo o espaço */
    display: block;

    width: 100%; /* Força a imagem a ocupar 100% da largura da div pai */
    height: auto; /* Mantém a proporção da imagem sem achatar */

    /* Define a proporção: 1/1 (quadrado) ou 4/5 (retrato) */
    aspect-ratio: 4 / 5;
    object-fit: cover;

    border-radius: var(--radius-small);
}

/* Espaçamento do botão */
.about__reading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
}


/* Redimensionando tamanho dos grãos no desktop */
@media (min-width: 768px){

    .hero__bg{
        transform: translate(-50%, -50%) scale(1.3);
    }

}

@media (min-width: 1200px){

    .about__layout{
        text-align: left;
    }

    /* OREDER */
    .about__midia{
        order: 1;
        flex: 1; /* Ocupa metade do espaço disponível */
        max-width: 500px; /* Limita o tamanho da foto no desktop */
    }

    .about__text{
        order: 2;
        flex: 1.2; /* Dá um pouco mais de espaço para o texto do que para a foto */
    }

    .about__reading{
        flex-direction: row;
    }

    .about__timer{
        display: none;
    }
}