@charset "UTF-8";

/* TIPOGRAFIA - WIRED COFFEE */

/* Importação da Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Geometry Soft (local) */
@font-face {
    font-family: 'Geometry Soft Pro';
    src: url('../../assets/fonts/Geometry_Soft_Pro-Bold_N.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Nochalance (Local) */
@font-face {
    font-family: 'Nochalance';
    src: url('../../assets/fonts/Nonchalance\ Regular.otf') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Nochalance';
    src: url('../../assets/fonts/Nonchalance\ Bold.otf') format('woff2');
    font-weight: 700;
}

/* === REGRAS GERAIS DE TEXTO === */
h1, h2, h3, h4{
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.2; /* Espaços entre as linhas */
    color: var(--color-text);
}

p, li, span{
    font-family: var(--font-text);
    font-size: var(--text-normal);
    line-height: 1.6;
    color: var(--color-text);
}

a{
    font-family: var(--font-text);
    font-size: var(--text-normal);
}

/* TAMANHOS DE FONTES */
h1{ font-size: var(--title-large); transition: 0.4s ease-in-out; }

h2{ font-size: var(--title-medium); transition: 0.4s ease-in-out; }

h3{ font-size: var(--text-large); transition: 0.4s ease-in-out; }

/* === UTILITÁRIO PRA EYEBROW === */
.u-eyebrow{
    display: block; 
    margin-bottom: 8px;

    font-family: var(--font-detail);
    font-size: var(--text-eyebrow);
    font-weight: 500;

    letter-spacing: var(--text-detail-spacing);

    transition: 0.4s ease-in-out;
}

/* AJUSTE DE ESCALA */
@media (min-width: 768px){
    h1{ font-size: 4rem; }
    h2{ font-size: 3rem; }
    p{ font-size: var(--text-large); }
    .u-eyebrow{ font-size: 1rem; }
}